body {
  width: 60em;
  margin: 0 auto;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
}


section {
  padding: 2em;
  margin: 1em;
  grid-template-columns: 10px  ;

}
li{
  margin: 12px;
}
#green {
  background-color: #8ffda7;
  grid-row: span 1;
  grid-column: span 8;
}

#orange {
  background-color: #ffc788;
  grid-row: 4;
  grid-column: span 6;

}


#yellow {
  display: grid;
  background-color: #ffff92; 
  grid-column:  span  3;
  grid-row: span 1;


}

#red {
  background-color: #ff919c;
  grid-column: span 3;
  display: grid;
}

#blue {
  background-color: #98d2ff;
  grid-column: span 2;
  display: grid;
  grid-row: span 3;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 1em;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
  width: 38px;
  height: 10px;

}
