*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* justify-content:space-between; */
    height: 100vh;
  }
  main{
    display: flex;
    height: 100%;
  }
  
  #yellow {
    order: 1;
    /* flex: 1; */
    
  }
  #green {
    order: 3;
    /* flex: 1; */

  }
  
  #orange {
    order: 4;
    flex: 1;
    /* flex: 10; */


  }
  
  #red {
      order: 2;
     /* flex: 1; */

    }
  
  #blue {
      order: 5 ;
    /* flex: 1; */

    }